/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tomates {
  filter: drop-shadow(0 7px 15px rgba(68, 73, 85, 0.25));
  height: 200px;
  position: relative;
  top: 140px;
  width: 400px;
}

@media screen and ( max-width : 600px ) {

  .container {

    position: relative;
    align-items: center;
    background: #41197f;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 100vw;
  }

  .logo {
    position: relative;
    top: 20px;
    width: 170px;
  }

  .tomates {
    filter: drop-shadow(0 7px 15px rgba(68, 73, 85, 0.25));
    height: 250px;
    left: 0;
    position: absolute;
    top: -46%;
    width: 450px;
  }

  .sectionLogin {
    align-items: center;
    background: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    position: relative;
    width: 100vw;
  }

  h1 {
    color: #41197f;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    height: 21px;
    letter-spacing: 0.165em;
    line-height: 20px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    width: 182px;
  }

  .email {
    border: 0.5px solid #41197f;
    border-radius: 5px;
    box-sizing: border-box;
    height: 40px;
    padding: 10px;
    width: 276px;
  }

  .password {
    border: 0.5px solid #41197f;
    border-radius: 5px;
    box-sizing: border-box;
    height: 40px;
    margin: 10px;
    padding: 10px;
    width: 276px;
  }

  .buttonLogin {
    background: #fcc436;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    height: 40px;
    width: 276px;
  }
} */
