.filtersBtn, .allBtn {
  background: transparent;
  align-items: center;
  text-align: center;
  border: none;
  cursor: pointer;
}

.buttonsFilters { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgFilters, .Dish {
  width: 60px;
  margin: 2.2px;
  object-fit: cover;
}
