* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerList{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardRecipe {
  margin: 10px;
  width: 163.2px;
  height: 180.12px;
  background: #FFFFFF;
  border: 0.517989px solid #B1B1B1;
  border-radius: 5px;
}

.imgRecipe {
  width: 163.35px;
  height: 134.85px;
  border-radius: 5px 5px 0px 0px;
}

.nameRecipe {
  margin-left: 10px;
  width: 143.35px;
  height: 40px;
  text-transform: none;
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  font-family: 'Epilogue';
  font-weight: 400;
  font-size: 18px;
  line-height: 12px;
  color: #1A1B1C;
  overflow: scroll;
}

.link {
  text-decoration: none;
}